<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hr.mapper.LeaveMapper" >
  <resultMap id="BaseResultMap" type="com.hr.entity.Leave" >
    <id column="LEAVEID" property="leaveid" jdbcType="DECIMAL" />
    <result column="EMPID" property="empid" jdbcType="DECIMAL" />
    <result column="JOBID" property="jobid" jdbcType="DECIMAL" />
    <result column="PLACE" property="place" jdbcType="VARCHAR" />
    <result column="TIME" property="time" jdbcType="DATE" />
    <result column="REASON" property="reason" jdbcType="VARCHAR" />
    <!-- 对员工表的映射 -->
    <association property="emp" javaType="com.hr.entity.Emp">
    	<id column="emp_id" property="empid" jdbcType="DECIMAL" />
	    <result column="NAME" property="name" jdbcType="VARCHAR" />
	    <result column="SEX" property="sex" jdbcType="VARCHAR" />
	    <result column="BIR" property="bir" jdbcType="DATE" />
	    <result column="IDCARD" property="idcard" jdbcType="VARCHAR" />
	    <result column="TOWORKTIME" property="toworktime" jdbcType="DATE" />
	    <result column="ZZMM" property="zzmm" jdbcType="VARCHAR" />
	    <result column="NATIONAL" property="national" jdbcType="VARCHAR" />
	    <result column="NATIVES" property="natives" jdbcType="VARCHAR" />
	    <result column="TELE" property="tele" jdbcType="VARCHAR" />
	    <result column="MAIL" property="mail" jdbcType="VARCHAR" />
	    <result column="HEIGHT" property="height" jdbcType="VARCHAR" />
	    <result column="BLOODTYPE" property="bloodtype" jdbcType="VARCHAR" />
	    <result column="BIRTHPLACE" property="birthplace" jdbcType="VARCHAR" />
	    <result column="HKPLACE" property="hkplace" jdbcType="VARCHAR" />
	    <result column="XL" property="xl" jdbcType="VARCHAR" />
	    <result column="DEGREE" property="degree" jdbcType="VARCHAR" />
	    <result column="GRADUATESCHOOL" property="graduateschool" jdbcType="VARCHAR" />
	    <result column="PROFESSIONAL" property="professional" jdbcType="VARCHAR" />
	    <result column="GRADUATETIME" property="graduatetime" jdbcType="DATE" />
    </association>
    <!-- 对岗位表的映射 -->
    <association property="job" javaType="com.hr.entity.Job">
    	<id column="job_id" property="jobid" jdbcType="DECIMAL" />
	    <result column="JOBNAME" property="jobname" jdbcType="VARCHAR" />
	    <result column="JOBTYPE" property="jobtype" jdbcType="VARCHAR" />
	    <result column="LIMIT" property="limit" jdbcType="DECIMAL" />
	    <result column="DEPTID" property="deptid" jdbcType="DECIMAL" />
    	<!-- 对部门表的映射 -->
    	<association property="dept" javaType="com.hr.entity.Dept">
    	    <id column="dept_id" property="deptid" jdbcType="DECIMAL" />
		    <result column="dept_name" property="name" jdbcType="VARCHAR" />
		    <result column="TYPE" property="type" jdbcType="VARCHAR" />
		    <result column="TELE" property="tele" jdbcType="VARCHAR" />
		    <result column="FAX" property="fax" jdbcType="VARCHAR" />
		    <result column="DISCRIP" property="discrip" jdbcType="VARCHAR" />
		    <result column="SUPERID" property="superid" jdbcType="DECIMAL" />
		    <result column="CREATETIME" property="createtime" jdbcType="DATE" />
    	</association>	
    </association> 
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    LEAVEID, EMPID, JOBID, PLACE, TIME, REASON
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.hr.entity.LeaveExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from LEAVE
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from LEAVE
    where LEAVEID = #{leaveid,jdbcType=DECIMAL}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from LEAVE
    where LEAVEID = #{leaveid,jdbcType=DECIMAL}
  </delete>
  <delete id="deleteByExample" parameterType="com.hr.entity.LeaveExample" >
    delete from LEAVE
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.hr.entity.Leave" >
    insert into LEAVE (LEAVEID, EMPID, JOBID, 
      PLACE, TIME, REASON)
    values (seq_leave_id.nextval, #{empid,jdbcType=DECIMAL}, #{jobid,jdbcType=DECIMAL}, 
      #{place,jdbcType=VARCHAR}, #{time,jdbcType=DATE}, #{reason,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.hr.entity.Leave" >
    insert into LEAVE
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="leaveid != null" >
        LEAVEID,
      </if>
      <if test="empid != null" >
        EMPID,
      </if>
      <if test="jobid != null" >
        JOBID,
      </if>
      <if test="place != null" >
        PLACE,
      </if>
      <if test="time != null" >
        TIME,
      </if>
      <if test="reason != null" >
        REASON,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="leaveid != null" >
        #{leaveid,jdbcType=DECIMAL},
      </if>
      <if test="empid != null" >
        #{empid,jdbcType=DECIMAL},
      </if>
      <if test="jobid != null" >
        #{jobid,jdbcType=DECIMAL},
      </if>
      <if test="place != null" >
        #{place,jdbcType=VARCHAR},
      </if>
      <if test="time != null" >
        #{time,jdbcType=DATE},
      </if>
      <if test="reason != null" >
        #{reason,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.hr.entity.LeaveExample" resultType="java.lang.Integer" >
    select count(*) from LEAVE
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update LEAVE
    <set >
      <if test="record.leaveid != null" >
        LEAVEID = #{record.leaveid,jdbcType=DECIMAL},
      </if>
      <if test="record.empid != null" >
        EMPID = #{record.empid,jdbcType=DECIMAL},
      </if>
      <if test="record.jobid != null" >
        JOBID = #{record.jobid,jdbcType=DECIMAL},
      </if>
      <if test="record.place != null" >
        PLACE = #{record.place,jdbcType=VARCHAR},
      </if>
      <if test="record.time != null" >
        TIME = #{record.time,jdbcType=DATE},
      </if>
      <if test="record.reason != null" >
        REASON = #{record.reason,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update LEAVE
    set LEAVEID = #{record.leaveid,jdbcType=DECIMAL},
      EMPID = #{record.empid,jdbcType=DECIMAL},
      JOBID = #{record.jobid,jdbcType=DECIMAL},
      PLACE = #{record.place,jdbcType=VARCHAR},
      TIME = #{record.time,jdbcType=DATE},
      REASON = #{record.reason,jdbcType=VARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.hr.entity.Leave" >
    update LEAVE
    <set >
      <if test="empid != null" >
        EMPID = #{empid,jdbcType=DECIMAL},
      </if>
      <if test="jobid != null" >
        JOBID = #{jobid,jdbcType=DECIMAL},
      </if>
      <if test="place != null" >
        PLACE = #{place,jdbcType=VARCHAR},
      </if>
      <if test="time != null" >
        TIME = #{time,jdbcType=DATE},
      </if>
      <if test="reason != null" >
        REASON = #{reason,jdbcType=VARCHAR},
      </if>
    </set>
    where LEAVEID = #{leaveid,jdbcType=DECIMAL}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.hr.entity.Leave" >
    update LEAVE
    set EMPID = #{empid,jdbcType=DECIMAL},
      JOBID = #{jobid,jdbcType=DECIMAL},
      PLACE = #{place,jdbcType=VARCHAR},
      TIME = #{time,jdbcType=DATE},
      REASON = #{reason,jdbcType=VARCHAR}
    where LEAVEID = #{leaveid,jdbcType=DECIMAL}
  </update>
  
   <select id="selectByEmpid" parameterType="java.lang.Integer" resultType="java.lang.Integer">
  select count(*) from leave where empid=#{empid}
  </select>
  
  <select id="selectByquery" parameterType="com.hr.entity.QueryL2" resultMap="BaseResultMap">
  	<bind name="pattern" value="'%' + name + '%'" />
  	<bind name="pattern2" value="'%' + deptname + '%'" />
  	<bind name="pattern3" value="'%' + jobname + '%'" />
  	select leave.*,emp.empid emp_id,emp.name,job.jobid job_id,job.jobname,dept.deptid dept_id,dept.name dept_name 
		from leave left outer join emp on leave.empid=emp.empid
		left outer join job on leave.jobid=job.jobid 
		left outer join dept on job.deptid=dept.deptid
		 where 1=1  
        <if test="empid != null ">  
            and emp.empid=#{empid}  
        </if> 
        <if test="name != '' ">
            and emp.name like #{pattern}  
        </if>   
        <if test="deptname != '' ">
            and dept.name like #{pattern2}  
        </if>
       <if test="jobname != '' ">
            and job.jobname like #{pattern3}  
        </if>  
        <if test="reason != '' ">
            and leave.reason=#{reason}  
        </if>
  </select>
  
</mapper>