<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hr.mapper.ManagerCustomMapper">
	<resultMap type="com.hr.entity.ManagerRecord" id="mangersResult">
		<result column="managerid" jdbcType="DECIMAL" property="managerid"/>
		<result column="ename" property="name" jdbcType="VARCHAR"/>
		<result column="account" property="account" jdbcType="VARCHAR"/>
		<result column="pass" property="pass" jdbcType="VARCHAR"/>
		<result column="jname" property="jobname" jdbcType="VARCHAR"/>
		<result column="mtele" property="tele" jdbcType="VARCHAR"/>
		<result column="mytime" property="time" jdbcType="DATE"/>
  </resultMap>
  
	<select id="selectManagers" parameterType="com.hr.entity.ManagerEmp" resultMap="mangersResult">
		select managerid ,
		       emp.name ename,
		       account,
		       pass,
		       jobname jname,
		       manager.tele mtele,
		       time mytime
		       from emp,job,staff,manager
		       <where>
		       		emp.empid=staff.empid and 
		             emp.empid=manager.empid and
		             job.jobid=staff.jobid
		             <if test="name!=null and name!=''">
		            	and emp.name = #{name}  
		        	</if>
		        	<if test="managerid!=null and managerid!=''">     
		            	and managerid = #{managerid}     
		        	</if>
		        	<if test="empid!=null and empid!=''">     
		            	and manager.empid = #{empid}     
		        	</if>
		        	<if test="account!=null and account!=''">     
		            	and manager.account = #{account}     
		        	</if>
		       </where> 
	</select>
</mapper>